doctype html 
html 
  head
    title pie-demo-store 
    link(href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Patua+One" rel="stylesheet")

  body
    catalog-container 
      span(slot="header") Pie Demo Store
      item-list

    script(src="/index.js")