doctype html 
html 
  head
    title pie-demo-store 
    link(href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Patua+One" rel="stylesheet")

    script.
      window._pieStore = {};
      window._pieStore.items = !{ items ? JSON.stringify(items) : []};

  body
    store-header
    centered-content 
      item-list

    script(src="/index.js")