doctype html 
html 
  head
    title pie-demo-store 
    link(href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Patua+One" rel="stylesheet")

    script.
    
       window._pieStore = {};
       window._pieStore.item = !{ item ? JSON.stringify(item) : {}};
       window._pieStore.endpoints = !{endpoints ? JSON.stringify(endpoints) : {}}; 

  body
    store-header
    centered-content
      item-info

    script(src="/item.js")    
    
    for j in js 
      script(src=j, type="text/javascript")
