doctype html 
html 
  head
    title login 
    link(href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Patua+One" rel="stylesheet")


  body
    .root
      .form
        login-form
    //- catalog-container 
    //-   span(slot="header") Pie Demo Store
    //-   div=error
    //-   div
    //-     h1 Login... 
    //-     form(action="/login", method="post")
    //-       div
    //-         label Username:
    //-         input(type="text", name="username")
    //-       div
    //-         label Password:
    //-         input(type="password", name="password")
    //-       div
    //-         input(type="submit", value="Log In")

    script(src="/login.js")